Repository mitmproxy/mitmproxy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dev-mode-safety, oximy-addon-tests

check-dev-mode-safety:
  name: Check DEV mode safety
  description: Prevents committing hardcoded dev settings
  entry: python scripts/check_dev_mode.py
  language: python
  pass_filenames: true

oximy-addon-tests:
  name: Run oximy addon tests
  description: Runs pytest on oximy addon to catch regressions
  entry: .venv/bin/python -m pytest mitmproxy/addons/oximy/tests/ --tb=short -q
  language: system
  pass_filenames: false
  always_run: false

fix: Fix Sentry initialization order and pass env vars to addon
  .gitignore
  OximyMac/App/Constants.swift
  OximyMac/App/OximyApp.swift
  OximyWindows/src/OximyWindows/Services/MitmService.cs
Due: check-dev-mode-safety

chore: Add sentry-sdk to build scripts and sync new addon files
  OximyMac/Resources/oximy-addon/oximy_logger.py
  OximyMac/Resources/oximy-addon/sentry_service.py
  OximyMac/Scripts/build-python-embed.sh
  OximyMac/Scripts/sync-addon.sh
  OximyWindows/scripts/package-python.ps1
Due: check-dev-mode-safety

chore: Sync addon bundle with Windows compatibility and logging fixes
  OximyMac/Resources/oximy-addon/addon.py
  OximyMac/Resources/oximy-addon/process.py
Due: check-dev-mode-safety

chore: Improve DMG build with volume icon, layout, and Windows secrets
  OximyMac/Makefile
  build-prod.sh
Due: none

chore: Add dSYM upload to Sentry for crash symbolication
  .github/workflows/oximy-release.yml
  CLAUDE.md
  OximyMac/Scripts/build-release.sh
  build-prod.sh
Due: none

refactor: Remove duplicate Sentry auto-capture path in Python addon
  OximyMac/Resources/oximy-addon/addon.py
  OximyMac/Resources/oximy-addon/oximy_logger.py
  OximyMac/Resources/oximy-addon/sentry_service.py
  OximyMac/Scripts/build-python-embed.sh
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/sentry_service.py
  mitmproxy/addons/oximy/tests/test_sentry_service.py
Due: check-dev-mode-safety, oximy-addon-tests

fix: Resolve Sentry module import mismatch in bundled addon
  OximyMac/Resources/oximy-addon/collector.py
  OximyMac/Resources/oximy-addon/normalize.py
  OximyMac/Resources/oximy-addon/oximy_logger.py
  OximyMac/Resources/oximy-addon/process.py
  OximyMac/Scripts/sync-addon.sh
  mitmproxy/addons/oximy/oximy_logger.py
Due: check-dev-mode-safety, oximy-addon-tests

chore: Rename Windows executable from OximyWindows to Oximy
  OximyWindows/Docs/MDM-Deployment-Guide.md
  OximyWindows/installer/OximySetup.iss
  OximyWindows/installer/scripts/postinstall.ps1
  OximyWindows/scripts/build.ps1
  OximyWindows/src/OximyWindows/OximyWindows.csproj
Due: none

fix: Add API models and endpoints for device info, sensor-config, and heartbeat envelope
  OximyWindows/src/OximyWindows/Constants.cs
  OximyWindows/src/OximyWindows/Models/APIModels.cs
  OximyWindows/src/OximyWindows/Services/APIClient.cs
Due: check-dev-mode-safety

fix: Fetch workspace info from API after auth callback and disable proxy when sensor off
  OximyWindows/src/OximyWindows/App.xaml.cs
Due: check-dev-mode-safety

fix: Parse heartbeat response envelope and persist workspace name across restarts
  OximyWindows/src/OximyWindows/Services/HeartbeatService.cs
Due: check-dev-mode-safety

feat: Add direct sensor-config API fallback when addon is stale or missing
  OximyWindows/src/OximyWindows/Services/RemoteStateService.cs
Due: check-dev-mode-safety

fix: Improve MitmService restart with exponential backoff and never-give-up policy
  OximyWindows/src/OximyWindows/Services/MitmService.cs
Due: check-dev-mode-safety

fix: Add Windows proxy change notification and fallback imports for standalone addon
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/oximy_logger.py
Due: check-dev-mode-safety, oximy-addon-tests

fix: Hardcode Sentry DSN and add sentry-sdk dependency
  OximyWindows/src/OximyWindows/Services/SentryService.cs
  build-prod.sh
  pyproject.toml
Due: check-dev-mode-safety

chore: Sync addon bundle with Windows
  OximyWindows/src/OximyWindows/Resources/oximy-addon/addon.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/oximy_logger.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/sentry_service.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_sentry_service.py
Due: check-dev-mode-safety

Update oximy-release.yml
  .github/workflows/oximy-release.yml
Due: none

fix: dynamically size DMG based on app bundle size
  build-prod.sh
Due: none

chore: Update release workflow to use fixed-name assets for 'latest' release
  .github/workflows/oximy-release.yml
Due: none

chore: Enhance release workflow to conditionally include Windows asset
  .github/workflows/oximy-release.yml
Due: none

Add popover close handling and proxy notifications
  OximyMac/App/OximyApp.swift
  OximyMac/Resources/oximy-addon/addon.py
  OximyMac/Resources/oximy-addon/oximy_logger.py
  OximyMac/Views/MainView.swift
Due: check-dev-mode-safety

fix(ci): fix Windows sensor build and release artifact paths
  .github/workflows/oximy-release.yml
  build-prod.sh
Due: none

Auto-complete setup; remove Settings scene
  OximyMac/App/OximyApp.swift
  OximyMac/Views/MainView.swift
Due: check-dev-mode-safety

refactor: Simplify heartbeat workspace sync
  OximyMac/Services/HeartbeatService.swift
Due: check-dev-mode-safety

fix: Correct Sentry event suppression and ordering during setup
  OximyMac/App/AppState.swift
  OximyMac/App/OximyApp.swift
  OximyMac/Services/OximyLogger.swift
  OximyMac/Services/SentryService.swift
  OximyWindows/src/OximyWindows/App.xaml.cs
  OximyWindows/src/OximyWindows/Core/AppState.cs
  OximyWindows/src/OximyWindows/Services/OximyLogger.cs
  OximyWindows/src/OximyWindows/Services/SentryService.cs
Due: check-dev-mode-safety

feat: Integrate Better Stack Logs for enhanced error tracking
  .github/workflows/oximy-release.yml
  OximyMac/App/Constants.swift
  OximyMac/App/OximyApp.swift
  OximyMac/Services/BetterStackLogsService.swift
  OximyMac/Services/OximyLogger.swift
  OximyWindows/src/OximyWindows/App.xaml.cs
  OximyWindows/src/OximyWindows/Services/BetterStackLogsService.cs
  OximyWindows/src/OximyWindows/Services/OximyLogger.cs
  OximyWindows/src/OximyWindows/Services/SentryService.cs
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/oximy_logger.py
  mitmproxy/addons/oximy/sentry_service.py
  mitmproxy/addons/oximy/tests/test_betterstack_logs.py
  mitmproxy/addons/oximy/tests/test_sentry_service.py
Due: check-dev-mode-safety, oximy-addon-tests

Support clear_cache and dedupe force_sync
  OximyWindows/src/OximyWindows/Models/APIModels.cs
  OximyWindows/src/OximyWindows/Services/RemoteStateService.cs
Due: check-dev-mode-safety

fix: Use set_extra() instead of set_extras() for sentry_sdk v2 compatibility
  mitmproxy/addons/oximy/sentry_service.py
  mitmproxy/addons/oximy/tests/test_sentry_service.py
Due: check-dev-mode-safety, oximy-addon-tests

chore: Sync bundled OximyMac addon copies with source
  OximyMac/Resources/oximy-addon/addon.py
  OximyMac/Resources/oximy-addon/oximy_logger.py
  OximyMac/Resources/oximy-addon/sentry_service.py
Due: check-dev-mode-safety

docs: Add Sentry E2E integration investigation report
  docs/sentry-e2e-investigation.md
Due: none

feat: add terminal setup templates
  mitmproxy/addons/setup_terminal/templates/setup.fish
  mitmproxy/addons/setup_terminal/templates/setup.ps1
  mitmproxy/addons/setup_terminal/templates/setup.sh
Due: none

feat: add setup_terminal addon for shell environment configuration.
  CHANGELOG.md
  docs/src/content/howto/automatic-shell-setup.md
  mitmproxy/addons/__init__.py
  mitmproxy/addons/setup_terminal/__init__.py
  test/mitmproxy/addons/test_setup_terminal.py
Due: check-dev-mode-safety

fix: adjust mypy and increase coverage
  mitmproxy/addons/setup_terminal/__init__.py
  test/mitmproxy/addons/test_setup_terminal.py
Due: check-dev-mode-safety

Fix import ordering in test file
  test/mitmproxy/addons/test_setup_terminal.py
Due: check-dev-mode-safety

Exclude setup_terminal from individual_coverage
  .claude/settings.local.json
  pyproject.toml
Due: none

feat: Add in-flight PII redaction for AI provider requests
  OximyMac/App/OximyApp.swift
  OximyMac/Models/Violation.swift
  OximyMac/Scripts/sync-addon.sh
  OximyMac/Services/ViolationService.swift
  OximyMac/Views/Tabs/HomeTab.swift
  OximyMac/Views/ViolationPopoverView.swift
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/enforcement.py
  mitmproxy/addons/oximy/tests/test_enforcement.py
Due: check-dev-mode-safety, oximy-addon-tests

fix: Detect and reset corrupted SQLite incremental values
  mitmproxy/addons/oximy/collector.py
  mitmproxy/addons/oximy/tests/test_collector.py
Due: check-dev-mode-safety, oximy-addon-tests

feat: Support text and binary content types in file collection
  mitmproxy/addons/oximy/collector.py
  mitmproxy/addons/oximy/tests/test_collector.py
Due: check-dev-mode-safety, oximy-addon-tests

feat: Add antigravity (Gemini desktop) metadata extraction
  mitmproxy/addons/oximy/collector.py
  mitmproxy/addons/oximy/tests/test_collector.py
Due: check-dev-mode-safety, oximy-addon-tests

chore: Add ws_capture debug artifacts to .gitignore
  .gitignore
Due: none

Path conditions:
  check-dev-mode-safety: any of: \.(py|swift|cs)$
  oximy-addon-tests: any of: ^mitmproxy/addons/oximy/
