Repository mitmproxy/mitmproxy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dev-mode-safety, oximy-addon-tests

check-dev-mode-safety:
  name: Check DEV mode safety
  description: Prevents committing hardcoded dev settings
  entry: python scripts/check_dev_mode.py
  language: python
  pass_filenames: true

oximy-addon-tests:
  name: Run oximy addon tests
  description: Runs pytest on oximy addon to catch regressions
  entry: .venv/bin/python -m pytest mitmproxy/addons/oximy/tests/ --tb=short -q
  language: system
  pass_filenames: false
  always_run: false

fix: Use SemVer-compliant default version in build-prod.sh
  build-prod.sh
Due: none

fix: Remove unused time import from test_playbooks
  mitmproxy/addons/oximy/tests/test_playbooks.py
Due: check-dev-mode-safety, oximy-addon-tests

fix(windows): enforcement rules, UI thread safety, and notification robustness
  OximyWindows/src/OximyWindows/App.xaml.cs
  OximyWindows/src/OximyWindows/Models/APIModels.cs
  OximyWindows/src/OximyWindows/Services/AppBlockingService.cs
  OximyWindows/src/OximyWindows/Services/MitmService.cs
  OximyWindows/src/OximyWindows/Services/RemoteStateService.cs
  OximyWindows/src/OximyWindows/Views/MainWindow.xaml.cs
  OximyWindows/src/OximyWindows/Views/SuggestionNotificationWindow.xaml.cs
Due: check-dev-mode-safety

fix(windows): add _hiding guard to ViolationNotificationWindow
  OximyWindows/src/OximyWindows/Views/ViolationNotificationWindow.xaml.cs
Due: check-dev-mode-safety

fix(windows): add ToolType and DisplayName to RulesEqual comparison
  OximyWindows/src/OximyWindows/Services/RemoteStateService.cs
Due: check-dev-mode-safety

Convert `mitmproxy.optmanager` functions into `OptManager` methods
  docs/scripts/options.py
  mitmproxy/addons/core.py
  mitmproxy/optmanager.py
  mitmproxy/tools/console/options.py
  mitmproxy/tools/main.py
  mitmproxy/tools/web/app.py
  mitmproxy/tools/web/master.py
  test/mitmproxy/test_optmanager.py
Due: check-dev-mode-safety

fix: improve wireguard port conflict error
  mitmproxy/proxy/mode_servers.py
  test/mitmproxy/proxy/test_mode_servers.py
Due: check-dev-mode-safety

fix: add -- to printf in curl export to handle data starting with dashes
  mitmproxy/addons/export.py
  test/mitmproxy/addons/test_export.py
Due: check-dev-mode-safety

fix: replace 1 bare except clause with except Exception
  mitmproxy/contrib/wbxml/ASWBXML.py
Due: check-dev-mode-safety

web: Reduce FlowTable Redux subscriptions from O(rows) to O(1)
  web/src/js/__tests__/components/FlowTable/FlowRowSpec.tsx
  web/src/js/components/FlowTable.tsx
  web/src/js/components/FlowTable/FlowColumns.tsx
  web/src/js/components/FlowTable/FlowRow.tsx
  web/src/js/components/FlowTable/FlowTableHead.tsx
Due: none

fix: pass flowIndex prop in FlowColumnsSpec snapshot test
  web/src/js/__tests__/components/FlowTable/FlowColumnsSpec.tsx
Due: none

feat: Add upload worker thread to prevent internet blocking
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/tests/test_addon.py
Due: check-dev-mode-safety, oximy-addon-tests

feat: Show in-memory buffer count in Events Pending UI
  OximyMac/Services/RemoteStateService.swift
  OximyMac/Services/SyncService.swift
Due: check-dev-mode-safety

chore: Sync OximyMac addon bundle with source
  OximyMac/Resources/oximy-addon/addon.py
  OximyMac/Resources/oximy-addon/playbooks.py
Due: check-dev-mode-safety

feat: Add E2E scenario tests for upload worker
  mitmproxy/addons/oximy/tests/test_addon.py
  mitmproxy/addons/oximy/tests/test_e2e_scenarios.py
Due: check-dev-mode-safety, oximy-addon-tests

fix: Remote force_sync command now bypasses upload circuit breaker
  mitmproxy/addons/oximy/addon.py
Due: check-dev-mode-safety, oximy-addon-tests

Update mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/addon.py
Due: check-dev-mode-safety, oximy-addon-tests

fix: Upload worker signal race between wait() and clear()
  mitmproxy/addons/oximy/addon.py
Due: check-dev-mode-safety, oximy-addon-tests

feature: Show in-memory buffer count in Events Pending UI on Windows
  OximyWindows/src/OximyWindows/Services/RemoteStateService.cs
  OximyWindows/src/OximyWindows/Services/SyncService.cs
Due: check-dev-mode-safety

chore: Sync OximyWindows addon bundle with source
  OximyWindows/src/OximyWindows/Resources/oximy-addon/addon.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/collector.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/playbooks.py
Due: check-dev-mode-safety

docs: Add local sensor run command to README
  README.md
Due: none

update: Sync addon with proxy bypass, spaCy model pre-download, and test coverage
  OximyWindows/src/OximyWindows/Resources/oximy-addon/addon.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/enforcement.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_addon.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_collector.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_e2e_scenarios.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_playbooks.py
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/enforcement.py
Due: check-dev-mode-safety, oximy-addon-tests

update: Harden Windows services (cert thumbprint, mitm concurrency, violation seeding)
  OximyWindows/src/OximyWindows/Constants.cs
  OximyWindows/src/OximyWindows/Services/CertificateService.cs
  OximyWindows/src/OximyWindows/Services/HeartbeatService.cs
  OximyWindows/src/OximyWindows/Services/MitmService.cs
  OximyWindows/src/OximyWindows/Services/ViolationService.cs
Due: check-dev-mode-safety

update: Add spaCy, Presidio, and psutil to Python embed packaging
  OximyWindows/scripts/package-python.ps1
Due: none

fix: Clip TrayPopup content to rounded window corners
  OximyWindows/src/OximyWindows/Views/TrayPopup.xaml
Due: none

fix: Resolve ruff lint errors in addon and enforcement imports
  OximyWindows/src/OximyWindows/Resources/oximy-addon/addon.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/enforcement.py
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/enforcement.py
Due: check-dev-mode-safety, oximy-addon-tests

fix: Add proxy cleanup scheduled task to prevent blackhole after forced shutdown
  OximyWindows/installer/OximySetup.iss
  OximyWindows/installer/scripts/oximy-proxy-cleanup.ps1
  OximyWindows/installer/scripts/postinstall.ps1
  OximyWindows/installer/scripts/uninstall.ps1
  OximyWindows/scripts/build.ps1
  OximyWindows/src/OximyWindows/App.xaml.cs
Due: check-dev-mode-safety

fix: Remove spaCy model download from _get_analyzer() to avoid proxy loop
  mitmproxy/addons/oximy/enforcement.py
Due: check-dev-mode-safety, oximy-addon-tests

fix: Sort enforcement imports to satisfy ruff I001
  mitmproxy/addons/oximy/addon.py
Due: check-dev-mode-safety, oximy-addon-tests

feature: Add is_backtracked tag to local session envelope dicts
  OximyWindows/src/OximyWindows/Resources/oximy-addon/collector.py
  mitmproxy/addons/oximy/collector.py
Due: check-dev-mode-safety, oximy-addon-tests

Add a Clear Screen button
  web/src/js/components/Header/FlowListMenu.tsx
Due: none

Apply autofix from CI and update CHANGELOG
  CHANGELOG.md
  web/src/js/components/Header/FlowListMenu.tsx
Due: none

Run `npm test -- -u`
  web/src/js/__tests__/components/Header/__snapshots__/MainMenuSpec.tsx.snap
Due: none

Accidentally broke CHANGELOG.md formatting
  CHANGELOG.md
Due: none

PR review edits
  CHANGELOG.md
  mitmproxy/tools/console/consoleaddons.py
  mitmproxy/tools/console/defaultkeys.py
  mitmproxy/tools/console/statusbar.py
  test/mitmproxy/tools/console/test_statusbar.py
Due: check-dev-mode-safety

Console: Option to hide quickhelp UI (#5746) (#8095)
  CHANGELOG.md
  mitmproxy/tools/console/consoleaddons.py
  mitmproxy/tools/console/defaultkeys.py
  mitmproxy/tools/console/statusbar.py
  test/mitmproxy/tools/console/test_statusbar.py
Due: check-dev-mode-safety

Apply suggestions from code review
  CHANGELOG.md
  web/src/js/__tests__/components/Header/__snapshots__/MainMenuSpec.tsx.snap
  web/src/js/components/Header/FlowListMenu.tsx
Due: none

Fix overzealous lockfile upgrades
  .github/workflows/autofix.yml
Due: none

Fix overzealous lockfile upgrades (#8125)
  .github/workflows/autofix.yml
Due: none

Apply suggestions from code review
  web/src/js/__tests__/components/Header/MainMenuSpec.tsx
  web/src/js/components/Header/FlowListMenu.tsx
Due: none

Path conditions:
  check-dev-mode-safety: any of: \.(py|swift|cs)$
  oximy-addon-tests: any of: ^mitmproxy/addons/oximy/
