Repository mitmproxy/mitmproxy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dev-mode-safety, oximy-addon-tests

check-dev-mode-safety:
  name: Check DEV mode safety
  description: Prevents committing hardcoded dev settings
  entry: python scripts/check_dev_mode.py
  language: python
  pass_filenames: true

oximy-addon-tests:
  name: Run oximy addon tests
  description: Runs pytest on oximy addon to catch regressions
  entry: .venv/bin/python -m pytest mitmproxy/addons/oximy/tests/ --tb=short -q
  language: system
  pass_filenames: false
  always_run: false

update: Generalize cross-arch package handling
  OximyMac/Scripts/build-python-embed.sh
Due: none

feat: Update API endpoints and enhance macOS environment variable management
  OximyMac/Resources/oximy-addon/addon.py
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/process.py
  mitmproxy/addons/oximy/tests/test_addon.py
  mitmproxy/addons/oximy/tests/test_process.py
Due: check-dev-mode-safety, oximy-addon-tests

feat: Introduce LocalDataCollector for local session data collection
  OximyMac/Resources/oximy-addon/addon.py
  OximyMac/Resources/oximy-addon/collector.py
  OximyMac/Resources/oximy-addon/config.json
  OximyMac/Resources/oximy-addon/process.py
  OximyMac/Scripts/build-python-embed.sh
  OximyMac/Scripts/sync-addon.sh
  OximyWindows/scripts/package-python.ps1
  OximyWindows/src/OximyWindows/Resources/oximy-addon/config.json
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/collector.py
  mitmproxy/addons/oximy/config.json
  mitmproxy/addons/oximy/docs/00-overview.md
  mitmproxy/addons/oximy/docs/01-claude-code.md
  mitmproxy/addons/oximy/docs/02-cursor.md
  mitmproxy/addons/oximy/docs/03-codex.md
  mitmproxy/addons/oximy/docs/04-openclaw.md
  mitmproxy/addons/oximy/docs/05-antigravity.md
  mitmproxy/addons/oximy/docs/06-unified-model.md
  mitmproxy/addons/oximy/docs/07-sensor-config.md
  mitmproxy/addons/oximy/docs/08-api-parsing-guide.md
  mitmproxy/addons/oximy/tests/test_addon.py
  mitmproxy/addons/oximy/tests/test_collector.py
  mitmproxy/addons/oximy/tests/test_integration.py
  pyproject.toml
Due: check-dev-mode-safety, oximy-addon-tests

Update: Switch Oximy URLs to production and decode streams
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/config.json
Due: check-dev-mode-safety, oximy-addon-tests

Decompress streamed response chunks
  mitmproxy/addons/oximy/addon.py
Due: check-dev-mode-safety, oximy-addon-tests

Switch default endpoints to production API
  OximyMac/Resources/oximy-addon/addon.py
  OximyMac/Resources/oximy-addon/config.json
Due: check-dev-mode-safety

Update .gitignore
  .gitignore
Due: none

Create requirements.txt
  requirements.txt
Due: none

refactor: Enhance backfill logic in LocalDataCollector
  mitmproxy/addons/oximy/collector.py
  mitmproxy/addons/oximy/tests/test_collector.py
Due: check-dev-mode-safety, oximy-addon-tests

refactor: Improve LocalDataCollector startup behavior and scanning logic
  mitmproxy/addons/oximy/collector.py
  mitmproxy/addons/oximy/tests/test_collector.py
Due: check-dev-mode-safety, oximy-addon-tests

feat: Implement quit blocking alert and menu item behavior
  OximyMac/App/OximyApp.swift
  OximyMac/Resources/oximy-addon/addon.py
  OximyMac/Resources/oximy-addon/collector.py
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/collector.py
  mitmproxy/addons/oximy/docs/07-sensor-config.md
Due: check-dev-mode-safety, oximy-addon-tests

Fix printf option parsing error in cURL export when data starts with dash
  mitmproxy/addons/export.py
  test/mitmproxy/addons/test_export.py
Due: check-dev-mode-safety

fix: Update client connection logging to handle missing bundle IDs
  OximyMac/Resources/oximy-addon/addon.py
  mitmproxy/addons/oximy/docs/09-windsurf.md
Due: check-dev-mode-safety, oximy-addon-tests

Add vim-style :q and :q! command aliases
  mitmproxy/tools/console/commandexecutor.py
  test/mitmproxy/tools/console/test_commandexecutor.py
Due: check-dev-mode-safety

feat: Add MDM configuration service and installer scripts
  OximyWindows/Docs/MDM-Deployment-Guide.md
  OximyWindows/installer/OximySetup.iss
  OximyWindows/installer/scripts/postinstall.ps1
  OximyWindows/installer/scripts/preinstall.ps1
  OximyWindows/installer/scripts/uninstall.ps1
  OximyWindows/scripts/test-mdm-config.ps1
  OximyWindows/src/OximyWindows/Services/MDMConfigService.cs
  OximyWindows/src/OximyWindows/ViewModels/MainViewModel.cs
  registry/dist/oximy-bundle.json
  registry/dist/oximy-bundle.min.json
  registry/websites/ai-chat/manus-ai.json
Due: check-dev-mode-safety

feat: Add FAIL-OPEN crash resilience for proxy and mitmproxy
  OximyWindows/src/OximyWindows/Services/MitmService.cs
  OximyWindows/src/OximyWindows/Services/ProxyService.cs
Due: check-dev-mode-safety

feat: Add appConfig parsing, command results relay, and quit alert
  OximyWindows/src/OximyWindows/App.xaml.cs
  OximyWindows/src/OximyWindows/Models/APIModels.cs
  OximyWindows/src/OximyWindows/Services/APIClient.cs
  OximyWindows/src/OximyWindows/Services/HeartbeatService.cs
  OximyWindows/src/OximyWindows/Services/RemoteStateService.cs
  OximyWindows/src/OximyWindows/Services/SyncService.cs
Due: check-dev-mode-safety

Fix modify_body crash when replacement contains backslash sequences (#8046)
  CHANGELOG.md
  mitmproxy/addons/modifybody.py
  test/mitmproxy/addons/test_modifybody.py
Due: check-dev-mode-safety

fix: Prevent URL pattern prefix matching within words
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/tests/test_addon.py
Due: check-dev-mode-safety, oximy-addon-tests

feat: Add two-layer circuit breaker to DirectTraceUploader
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/tests/test_addon.py
Due: check-dev-mode-safety, oximy-addon-tests

fix: Use atomic writes for remote-state.json and command-results.json
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/tests/test_addon.py
Due: check-dev-mode-safety, oximy-addon-tests

chore: Add CI workflows, changelog, and update CLAUDE.md
  .github/workflows/oximy-push-notify.yml
  .github/workflows/oximy-release.yml
  CLAUDE.md
Due: none

fix: Update auth and signup URLs from staging to app.oximy.com
  OximyMac/App/Constants.swift
  OximyWindows/src/OximyWindows/Constants.cs
Due: check-dev-mode-safety

feat: Add Windows support improvements to proxy addon
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/process.py
  mitmproxy/addons/oximy/tests/test_integration.py
Due: check-dev-mode-safety, oximy-addon-tests

fix: Improve Windows app service startup, CPU metrics, and process diagnostics
  OximyWindows/src/OximyWindows/App.xaml.cs
  OximyWindows/src/OximyWindows/Services/APIClient.cs
  OximyWindows/src/OximyWindows/Services/MitmService.cs
Due: check-dev-mode-safety

chore: Sync oximy addon bundle to Windows app
  OximyWindows/src/OximyWindows/Resources/oximy-addon/README.md
  OximyWindows/src/OximyWindows/Resources/oximy-addon/addon.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/normalize.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/process.py
Due: check-dev-mode-safety

feat: Add local data collector for AI tool sessions
  OximyWindows/src/OximyWindows/Resources/oximy-addon/collector.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/docs/00-overview.md
  OximyWindows/src/OximyWindows/Resources/oximy-addon/docs/01-claude-code.md
  OximyWindows/src/OximyWindows/Resources/oximy-addon/docs/02-cursor.md
  OximyWindows/src/OximyWindows/Resources/oximy-addon/docs/03-codex.md
  OximyWindows/src/OximyWindows/Resources/oximy-addon/docs/04-openclaw.md
  OximyWindows/src/OximyWindows/Resources/oximy-addon/docs/05-antigravity.md
  OximyWindows/src/OximyWindows/Resources/oximy-addon/docs/06-unified-model.md
  OximyWindows/src/OximyWindows/Resources/oximy-addon/docs/07-sensor-config.md
  OximyWindows/src/OximyWindows/Resources/oximy-addon/docs/08-api-parsing-guide.md
  OximyWindows/src/OximyWindows/Resources/oximy-addon/docs/09-windsurf.md
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/__init__.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/conftest.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/pytest.ini
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_addon.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_collector.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_integration.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_normalize.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_process.py
Due: check-dev-mode-safety

feat: Add structured logging infrastructure for Swift app
  OximyMac/Services/EventCodes.swift
  OximyMac/Services/OximyLogger.swift
  OximyMac/Services/SentryService.swift
Due: check-dev-mode-safety

feat: Instrument Swift services with structured logging
  OximyMac/App/AppState.swift
  OximyMac/App/OximyApp.swift
  OximyMac/Services/APIClient.swift
  OximyMac/Services/CertificateService.swift
  OximyMac/Services/HeartbeatService.swift
  OximyMac/Services/MITMService.swift
  OximyMac/Services/NetworkMonitor.swift
  OximyMac/Services/ProxyService.swift
  OximyMac/Services/RemoteStateService.swift
  OximyMac/Services/SyncService.swift
Due: check-dev-mode-safety

feat: Add Sentry service and structured logger for Python addon
  mitmproxy/addons/oximy/oximy_logger.py
  mitmproxy/addons/oximy/sentry_service.py
  requirements.txt
Due: check-dev-mode-safety, oximy-addon-tests

feat: Instrument Python addon with structured logging and breadcrumbs
  OximyMac/Resources/oximy-addon/addon.py
  OximyMac/Resources/oximy-addon/collector.py
  OximyMac/Resources/oximy-addon/normalize.py
  OximyMac/Resources/oximy-addon/process.py
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/collector.py
  mitmproxy/addons/oximy/normalize.py
  mitmproxy/addons/oximy/process.py
Due: check-dev-mode-safety, oximy-addon-tests

test: Add unit tests for Python sentry_service
  mitmproxy/addons/oximy/tests/test_sentry_service.py
Due: check-dev-mode-safety, oximy-addon-tests

docs: Add Sentry logging guide for cross-platform implementation
  docs/sentry-logging-guide.md
Due: none

feat: Add structured logging infrastructure for Windows app
  OximyWindows/src/OximyWindows/Services/EventCodes.cs
  OximyWindows/src/OximyWindows/Services/OximyLogger.cs
  OximyWindows/src/OximyWindows/Services/SentryService.cs
Due: check-dev-mode-safety

feat: Instrument core services with structured logging
  OximyWindows/src/OximyWindows/App.xaml.cs
  OximyWindows/src/OximyWindows/Services/HeartbeatService.cs
  OximyWindows/src/OximyWindows/Services/MitmService.cs
  OximyWindows/src/OximyWindows/Services/ProxyService.cs
Due: check-dev-mode-safety

feat: Instrument remaining services with structured logging
  OximyWindows/src/OximyWindows/Services/APIClient.cs
  OximyWindows/src/OximyWindows/Services/CertificateService.cs
  OximyWindows/src/OximyWindows/Services/NetworkMonitorService.cs
  OximyWindows/src/OximyWindows/Services/RemoteStateService.cs
  OximyWindows/src/OximyWindows/Services/StartupService.cs
  OximyWindows/src/OximyWindows/Services/SyncService.cs
Due: check-dev-mode-safety

refactor: Clean up Sentry/logging infrastructure across all platforms
  OximyMac/Services/EventCodes.swift
  OximyMac/Services/OximyLogger.swift
  OximyMac/Services/SentryService.swift
  OximyWindows/src/OximyWindows/App.xaml.cs
  OximyWindows/src/OximyWindows/Services/EventCodes.cs
  OximyWindows/src/OximyWindows/Services/OximyLogger.cs
  OximyWindows/src/OximyWindows/Services/SentryService.cs
  mitmproxy/addons/oximy/oximy_logger.py
  mitmproxy/addons/oximy/sentry_service.py
  mitmproxy/addons/oximy/tests/test_sentry_service.py
Due: check-dev-mode-safety, oximy-addon-tests

chore: Sync logging infrastructure to Windows addon bundle
  OximyWindows/src/OximyWindows/Resources/oximy-addon/oximy_logger.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/sentry_service.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_sentry_service.py
Due: check-dev-mode-safety

chore: Sync addon changes to Windows bundle
  OximyWindows/src/OximyWindows/Resources/oximy-addon/addon.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/collector.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/normalize.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/process.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_addon.py
Due: check-dev-mode-safety

fix: Route Python addon logger.error() calls to Sentry via LoggingIntegration
  docs/sentry-logging-guide.md
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/sentry_service.py
  mitmproxy/addons/oximy/tests/test_sentry_service.py
Due: check-dev-mode-safety, oximy-addon-tests

Path conditions:
  check-dev-mode-safety: any of: \.(py|swift|cs)$
  oximy-addon-tests: any of: ^mitmproxy/addons/oximy/
