Repository mitmproxy/mitmproxy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dev-mode-safety, oximy-addon-tests

.pre-commit-config.yaml:

# Pre-commit configuration for Oximy
#
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# Skip hooks (emergency): git commit --no-verify

repos:
  # Local hook: Check for dev mode settings that shouldn't be committed
  - repo: local
    hooks:
      - id: check-dev-mode-safety
        name: Check DEV mode safety
        description: Prevents committing hardcoded dev settings
        entry: python scripts/check_dev_mode.py
        language: python
        files: \.(py|swift|cs)$
        pass_filenames: true

  # Local hook: Run oximy addon tests before committing
  - repo: local
    hooks:
      - id: oximy-addon-tests
        name: Run oximy addon tests
        description: Runs pytest on oximy addon to catch regressions
        entry: .venv/bin/python -m pytest mitmproxy/addons/oximy/tests/ --tb=short -q
        language: system
        files: ^mitmproxy/addons/oximy/
        pass_filenames: false
        always_run: false

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^\.github/
      - id: check-json
        exclude: (package-lock\.json|\.vscode/)

feat: Add Shadow AI enforcement for apps and websites + proactive suggestions
  OximyMac/App/OximyApp.swift
  OximyMac/Models/APIModels.swift
  OximyMac/Resources/oximy-addon/addon.py
  OximyMac/Resources/oximy-addon/oximy_logger.py
  OximyMac/Resources/oximy-addon/sentry_service.py
  OximyMac/Services/APIClient.swift
  OximyMac/Services/AppBlockingService.swift
  OximyMac/Services/EventCodes.swift
  OximyMac/Services/RemoteStateService.swift
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/playbooks.py
  mitmproxy/addons/oximy/tests/test_integration.py
  mitmproxy/addons/oximy/tests/test_playbooks.py
Due: check-dev-mode-safety, oximy-addon-tests

Add LLM API content viewer for Anthropic and OpenAI
  mitmproxy/contentviews/__init__.py
  mitmproxy/contentviews/_view_llm.py
  mitmproxy/tools/web/app.py
  mitmproxy/tools/web/index.html
  mitmproxy/tools/web/static/index-Bt--WL1e.js
  mitmproxy/tools/web/static/index-CICWxuaf.css
  mitmproxy/tools/web/static/index-D513oZXo.js
  mitmproxy/tools/web/static/index-DhPPoJ7G.css
  mitmproxy/tools/web/static/index-GkgBxkZh.js
  mitmproxy/tools/web/static/index-OZE8Quah.css
  test/mitmproxy/contentviews/test__view_llm.py
  test/mitmproxy/data/har_files/charles.json
  test/mitmproxy/data/har_files/chrome.json
  test/mitmproxy/data/har_files/firefox.json
  test/mitmproxy/data/har_files/head-content-length.json
  test/mitmproxy/data/har_files/insomnia.json
  test/mitmproxy/data/har_files/postdata.json
  test/mitmproxy/data/har_files/safari.json
  test/mitmproxy/data/har_files/with-bom.json
  test/mitmproxy/tools/web/test_app.py
  web/package-lock.json
  web/src/css/app.less
  web/src/css/llm.less
  web/src/js/__tests__/components/FlowView/LLMSpec.tsx
  web/src/js/__tests__/components/FlowView/__snapshots__/LLMSpec.tsx.snap
  web/src/js/__tests__/ducks/_tflow.ts
  web/src/js/components/FlowView.tsx
  web/src/js/components/FlowView/LLM.tsx
  web/src/js/flow.ts
Due: check-dev-mode-safety

update: Add antigravity metadata extraction, content_type support, and corrupted incremental value guard to collector
  OximyMac/App/Secrets.example.swift
  OximyMac/Resources/oximy-addon/collector.py
  mitmproxy/addons/oximy/collector.py
  mitmproxy/addons/oximy/tests/test_collector.py
Due: check-dev-mode-safety, oximy-addon-tests

Update .gitignore
  .gitignore
Due: none

Fix 6 CodeQL security alerts from code scanning
  mitmproxy/net/free_port.py
  mitmproxy/net/tls.py
  mitmproxy/proxy/server.py
  mitmproxy/utils/htpasswd.py
Due: check-dev-mode-safety

Remove ineffective lgtm comments from tls.py
  mitmproxy/net/tls.py
Due: check-dev-mode-safety

Use OP_NO_* flags to explicitly disable insecure TLS protocols
  mitmproxy/proxy/server.py
Due: check-dev-mode-safety

feat: integrate Presidio PII detection, server-controlled policies, and violation reporting
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/enforcement.py
  mitmproxy/addons/oximy/tests/test_enforcement.py
  requirements.txt
Due: check-dev-mode-safety, oximy-addon-tests

Update mitmproxy/addons/oximy/enforcement.py
  mitmproxy/addons/oximy/enforcement.py
Due: check-dev-mode-safety, oximy-addon-tests

feat: add in-app update check with version.json and PKG installer
  .github/workflows/oximy-release.yml
  OximyMac/Services/UpdateCheckService.swift
  OximyMac/Views/MainView.swift
  OximyWindows/src/OximyWindows/Services/UpdateCheckService.cs
  OximyWindows/src/OximyWindows/Views/StatusView.xaml
  OximyWindows/src/OximyWindows/Views/StatusView.xaml.cs
  build-prod.sh
Due: check-dev-mode-safety

Update OximyMac/Services/UpdateCheckService.swift
  OximyMac/Services/UpdateCheckService.swift
Due: check-dev-mode-safety

feat(addon): send X-Sensor-Version header on config fetch
  OximyMac/Resources/oximy-addon/addon.py
  OximyMac/Services/MITMService.swift
  OximyWindows/src/OximyWindows/Resources/oximy-addon/addon.py
  OximyWindows/src/OximyWindows/Services/MitmService.cs
  mitmproxy/addons/oximy/addon.py
Due: check-dev-mode-safety, oximy-addon-tests

Add CI workflow for PR checks
  .github/workflows/ci.yml
Due: none

Fix CI workflow: use uv for deps, exclude OximyMac from lint
  .github/workflows/ci.yml
Due: none

Fix CI: exclude OximyWindows from lint, pin Python 3.12 for uv
  .github/workflows/ci.yml
Due: none

Potential fix for code scanning alert no. 25: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

feat(mac): show sensor version in Advanced settings section
  OximyMac/Views/Tabs/SettingsTab.swift
Due: check-dev-mode-safety

Fix CI: lint errors, Python version, and scope checks to oximy addon
  .github/workflows/ci.yml
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/collector.py
  mitmproxy/addons/oximy/enforcement.py
  mitmproxy/addons/oximy/normalize.py
  mitmproxy/addons/oximy/oximy_logger.py
  mitmproxy/addons/oximy/playbooks.py
  mitmproxy/addons/oximy/process.py
  mitmproxy/addons/oximy/tests/conftest.py
  mitmproxy/addons/oximy/tests/test_addon.py
  mitmproxy/addons/oximy/tests/test_betterstack_logs.py
  mitmproxy/addons/oximy/tests/test_collector.py
  mitmproxy/addons/oximy/tests/test_enforcement.py
  mitmproxy/addons/oximy/tests/test_integration.py
  mitmproxy/addons/oximy/tests/test_normalize.py
  mitmproxy/addons/oximy/tests/test_playbooks.py
  mitmproxy/addons/oximy/tests/test_process.py
  mitmproxy/addons/oximy/tests/test_sentry_service.py
Due: check-dev-mode-safety, oximy-addon-tests

Fix CI: prevent uv from downloading Python 3.14 for build isolation
  .github/workflows/ci.yml
Due: none

Fix CI: force UV_PYTHON=3.12 to pin all uv operations to Python 3.12
  .github/workflows/ci.yml
Due: none

Fix CI: platform-specific test failures and mypy scope
  .github/workflows/ci.yml
  mitmproxy/addons/oximy/tests/test_addon.py
  mitmproxy/addons/oximy/tests/test_process.py
Due: check-dev-mode-safety, oximy-addon-tests

Fix CI: collector file-shrank bug and make typecheck informational
  .github/workflows/ci.yml
  mitmproxy/addons/oximy/collector.py
Due: check-dev-mode-safety, oximy-addon-tests

Remove typecheck job from CI (100 pre-existing mypy errors)
  .github/workflows/ci.yml
Due: none

Fix PII detection false positive for person names in file paths (OXI-172)
  mitmproxy/addons/oximy/enforcement.py
  mitmproxy/addons/oximy/tests/test_enforcement.py
Due: check-dev-mode-safety, oximy-addon-tests

Fix ruff import sorting (I001) in test_enforcement.py
  mitmproxy/addons/oximy/tests/test_enforcement.py
Due: check-dev-mode-safety, oximy-addon-tests

Wire up proactive playbook suggestion UI and feedback loop (OXI-183)
  OximyMac/App/OximyApp.swift
  OximyMac/Models/PlaybookSuggestion.swift
  OximyMac/Resources/oximy-addon/addon.py
  OximyMac/Resources/oximy-addon/playbooks.py
  OximyMac/Scripts/sync-addon.sh
  OximyMac/Services/SuggestionService.swift
  OximyMac/Views/SuggestionCard.swift
  OximyMac/Views/SuggestionPanel.swift
  OximyWindows/src/OximyWindows/Resources/oximy-addon/addon.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/playbooks.py
  mitmproxy/addons/oximy/addon.py
Due: check-dev-mode-safety, oximy-addon-tests

Fix ruff lint errors: import sorting and unused import
  mitmproxy/addons/oximy/addon.py
Due: check-dev-mode-safety, oximy-addon-tests

fix(enforcement): extend _redact_pii_inner to handle regex/keyword rules
  mitmproxy/addons/oximy/enforcement.py
  mitmproxy/addons/oximy/tests/test_enforcement.py
Due: check-dev-mode-safety, oximy-addon-tests

Update OximyMac/Views/SuggestionPanel.swift
  OximyMac/Views/SuggestionPanel.swift
Due: check-dev-mode-safety

Scope auto-dismiss timer to specific panel instance
  OximyMac/Views/SuggestionPanel.swift
Due: check-dev-mode-safety

fix(enforcement): handle keyword type in _match_rule
  mitmproxy/addons/oximy/enforcement.py
  mitmproxy/addons/oximy/tests/test_enforcement.py
Due: check-dev-mode-safety, oximy-addon-tests

feat(mac): full PII coverage in violation UI + violations list in popover
  OximyMac/Models/Violation.swift
  OximyMac/Views/Tabs/HomeTab.swift
  OximyMac/Views/ViolationPopoverView.swift
Due: check-dev-mode-safety

feat: Add terminal proxy tracking feature flag (disabled by default)
  OximyMac/Services/MITMService.swift
  OximyWindows/src/OximyWindows/Services/MitmService.cs
  mitmproxy/addons/oximy/addon.py
Due: check-dev-mode-safety, oximy-addon-tests

docs: Add CHANGELOG entry for terminal proxy flag
  CHANGELOG.md
Due: none

Option to hide quickhelp UI
  mitmproxy/tools/console/consoleaddons.py
  mitmproxy/tools/console/defaultkeys.py
  mitmproxy/tools/console/statusbar.py
  test/mitmproxy/tools/console/test_statusbar.py
Due: check-dev-mode-safety

Added CHANGELOG.md entry
  CHANGELOG.md
Due: none

fix(windows): notification window crash, build locks, and addon sync
  OximyWindows/scripts/build.ps1
  OximyWindows/src/OximyWindows/Resources/oximy-addon/addon.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/collector.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/enforcement.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/normalize.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/oximy_logger.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/process.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/conftest.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_addon.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_betterstack_logs.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_collector.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_enforcement.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_enforcement_e2e.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_integration.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_normalize.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_playbooks.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_process.py
  OximyWindows/src/OximyWindows/Resources/oximy-addon/tests/test_sentry_service.py
  OximyWindows/src/OximyWindows/Views/SuggestionNotificationWindow.xaml
  OximyWindows/src/OximyWindows/Views/SuggestionNotificationWindow.xaml.cs
  OximyWindows/src/OximyWindows/Views/ViolationNotificationWindow.xaml
  OximyWindows/src/OximyWindows/Views/ViolationNotificationWindow.xaml.cs
Due: check-dev-mode-safety

chore: Replace hardcoded 1.0.0 version defaults with dev
  OximyMac/Info.plist
  OximyMac/Scripts/build-pkg.sh
  OximyMac/Scripts/build-release.sh
  OximyMac/Services/APIClient.swift
  OximyMac/Views/EnrollmentView.swift
  OximyMac/create-xcode-project.sh
  OximyMac/project.yml
  OximyWindows/installer/OximySetup.iss
  OximyWindows/scripts/build.ps1
  OximyWindows/src/OximyWindows/Constants.cs
  OximyWindows/src/OximyWindows/OximyWindows.csproj
  build-prod.sh
Due: check-dev-mode-safety

feat: Add backtrack worker for historical coding session scanning
  OximyMac/Resources/oximy-addon/addon.py
  OximyMac/Resources/oximy-addon/collector.py
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/collector.py
  mitmproxy/addons/oximy/tests/test_collector.py
Due: check-dev-mode-safety, oximy-addon-tests

feat: Add cooldown and dedup gating for proactive playbook suggestions
  mitmproxy/addons/oximy/addon.py
  mitmproxy/addons/oximy/playbooks.py
  mitmproxy/addons/oximy/tests/test_playbooks.py
Due: check-dev-mode-safety, oximy-addon-tests
